In [1]:
import pandas as pd
from cdapython import tables, columns, column_values, fetch_rows, summary_counts

In [2]:
pd.set_option('display.max_columns', None)

specimen = fetch_rows(table='specimen', add_columns=['subject_id'])
specimen.shape

(760769, 10)

In [3]:
specimen = fetch_rows(table='specimen', match_any=['primary_diagnosis_site = *lung*' , 'primary_diagnosis_site = *pulmonary*'], add_columns=['subject_id'])
specimen.head()

,specimen_id,anatomical_site,days_to_collection,derived_from_specimen,derived_from_subject,primary_disease_type,source_material_type,specimen_associated_project,specimen_type,subject_id
0,APOLLO-LUAD.AP-27JZ.225656b1-c7c8-579f-940c-47...,,<NA>,APOLLO-LUAD.AP-27JZ.AP-27JZ-RD,APOLLO.AP-27JZ,Adenomas and Adenocarcinomas,Tumor Tissue,APOLLO-LUAD,portion,APOLLO.AP-27JZ
1,APOLLO-LUAD.AP-27JZ.71e063aa-7522-51e8-82ba-66...,,<NA>,APOLLO-LUAD.AP-27JZ.225656b1-c7c8-579f-940c-47...,APOLLO.AP-27JZ,Adenomas and Adenocarcinomas,Tumor Tissue,APOLLO-LUAD,analyte,APOLLO.AP-27JZ
2,APOLLO-LUAD.AP-27JZ.a2dd7cac-6dbd-504a-a883-7f...,,<NA>,APOLLO-LUAD.AP-27JZ.f8e900d4-93ff-5aee-b1f9-9d...,APOLLO.AP-27JZ,Adenomas and Adenocarcinomas,Tumor Tissue,APOLLO-LUAD,analyte,APOLLO.AP-27JZ
3,APOLLO-LUAD.AP-27JZ.AP-27JZ-2V,,<NA>,initial specimen,APOLLO.AP-27JZ,Adenomas and Adenocarcinomas,Normal Tissue Sample,APOLLO-LUAD,sample,APOLLO.AP-27JZ
4,APOLLO-LUAD.AP-27JZ.AP-27JZ-2V-D,,<NA>,APOLLO-LUAD.AP-27JZ.d044da39-b817-5542-b000-64...,APOLLO.AP-27JZ,Adenomas and Adenocarcinomas,Normal Tissue Sample,APOLLO-LUAD,aliquot,APOLLO.AP-27JZ

In [5]:
specimen.shape
specimen['subject_id'].equals(specimen['derived_from_subject'])

False

In [8]:
subj_id_diff = specimen.query('subject_id != derived_from_subject')
#subj_id_diff.head()
subj_id_diff.shape

(4461, 10)

In [9]:
treatment = fetch_rows(table='treatment', match_any=['primary_diagnosis_site = *lung*' , 'primary_diagnosis_site = *pulmonary*'], add_columns=['subject_id'])
treatment.head()

,treatment_id,days_to_treatment_end,days_to_treatment_start,number_of_cycles,therapeutic_agent,treatment_anatomic_site,treatment_effect,treatment_end_reason,treatment_outcome,treatment_type,subject_id
0,APOLLO-LUAD.AP-27JZ.AP-27JZ-Diagnosis-treat-1,<NA>,<NA>,<NA>,,,,,,Radiation Therapy,APOLLO.AP-27JZ
1,APOLLO-LUAD.AP-27JZ.AP-27JZ-Diagnosis-treat-2,<NA>,<NA>,<NA>,,,,,,Chemotherapy,APOLLO.AP-27JZ
2,APOLLO-LUAD.AP-352Q.AP-352Q-Diagnosis-treat-1,<NA>,<NA>,<NA>,,,,,,Radiation Therapy,APOLLO.AP-352Q
3,APOLLO-LUAD.AP-352Q.AP-352Q-Diagnosis-treat-2,<NA>,<NA>,<NA>,,,,,,Chemotherapy,APOLLO.AP-352Q
4,APOLLO-LUAD.AP-3FY5.AP-3FY5-Diagnosis-treat-1,<NA>,<NA>,<NA>,,,,,,Chemotherapy,APOLLO.AP-3FY5

In [15]:
#from oncoexporter.cda import CdaTableImporter
from oncoexporter.cda._gdc import GdcMutationService
subject_id_list = ['TCGA-05-4244', 'TCGA-05-4245', 'TCGA-05-4249', 'TCGA-05-4250', 'TCGA-05-4382',
                   'TCGA-05-4384', 'TCGA-05-4389', 'TCGA-05-4390', 'TCGA-05-4395', 'TCGA-05-4396']
subject_id = 'AP-CT3G' #'4d_lung.100_HM10395' # 'TCGA-DU-6407' CPTAC.C3N-01409
gdc_timeout=int(100_000)
gdc_mutation_service = GdcMutationService(timeout=gdc_timeout)

variant_interpretations = gdc_mutation_service.fetch_variants(subject_id)
variant_interpretations

[]